<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="well">Topics</div>
        <% topics.forEach(function(topic) { %>
            <div class="topics_list_topic">
                <div class="topics_list_title" onclick="location.href='/topics/<%= topic.TopicId %>';">
                    <a href="/topics/<%= topic.TopicId %>"><%= topic.TopicTitle %></a>
                </div>
                <div class="topics_list_messages"><%= topic.TopicMessageCount %> Messages</div>
                <div class="topics_list_dates">
                    <div>Created by
                        <span class="topics_list_username_display"><%= topic.TopicAuthor %></span>
                        on
                        <span class="topics_list_timestamp_display"><%= topic.TopicTimestamp %></span>
                    </div>
                    <div>Last by
                        <span class="topics_list_username_display"><%= topic.TopicLastAuthor %></span>
                        on
                        <span class="topics_list_timestamp_display"><%= topic.TopicLastTimestamp %></span>
                    </div>
                </div>
            </div>
        <% }); %>
        <div>
            <form method="POST" action="/topics">
                <input class="form-control" name="title" placeholder="title" type="text" />
                <textarea name="message"></textarea>
                <button type="submit" class="btn btn-default">Send</button>
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
