<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>

    <div class="page_title_wrapper">
        <div class="page_title">
            <h1><%= topic.title %></h1>
        </div>
    </div>

    <div class="message_list_wrapper">
        <div class="message_list_messages">
            <% topic.messages.forEach(function(message) { %>
            <div class="container message_list_message">
                <div class="row">
                    <div class="col-sm-2 message_list_author_info">
                        <div class="message_list_author_info_name">
                            <a href="/users/<%= message.Username %>"><%= message.Username %></a>
                        </div>
                        <div class="message_list_author_info_type"><%= message.UserType %></div>
                        <div class="message_list_author_info_date">
                            Posted on<br/>
                            <span><%= message.MessageTime %></span>
                        </div>
                        <% if(message.CanEdit) { %>
                        <div class="message_list_edit_bnt" data-message-id="<%= message.message_id %>">
                            <a href="#">Edit</a>
                        </div>
                        <% } %>
                    </div>
                    <div class="col-sm-10 message_list_author_message">
                        <div class="message_list_author_message_text">
                            <%- message.MessageF %>
                        </div>
                        <% if(message.SignatureF.length > 0) { %>
                            <div class="message_list_author_message_sig message_list_author_message_sig_line">
                        <% } else { %>
                            <div class="message_list_author_message_sig">
                        <% } %>
                            <%- message.SignatureF %>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>

    <div class="new_message_wrapper">
        <% if(login) { %>
        <div id="new_message" class="new_message">
            <form method="POST" action="/topics/<%= topic.topic_id %>">
                <input type="hidden" name="method" value="post" />
                <input type="hidden" name="message_id" value="" />
                <textarea class="form-control" name="message" placeholder="Message"></textarea>
                <button type="submit" name="post" class="btn btn-default submit_button">Post</button>
                <button type="button" name="clear" class="btn btn-default">Clear</button>
            </form>
            <div id="text_feedback" class="text_feedback_normal"><span id="text_feedback_val">0</span> / 500</div>
        </div>
        <% } %>
    </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
