<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>

    <div class="page_title_wrapper">
        <div class="page_title">
            <h1>Users</h1>
        </div>
    </div>

    <div class="users_list_wrapper">
        <table class="table table-hover">
            <thead>
                <tr>
                    <% if(CanChangeType) { %>
                    <th class="col-sm-6">Username</th>
                    <th class="col-sm-2 users_list_user_type">User Type</th>
                    <th class="col-sm-2 users_list_creation_date">Creation Date</th>
                    <th class="col-sm-2 users_list_change_type">Change Type</th>
                    <% } else { %>
                    <th class="col-sm-8">Username</th>
                    <th class="col-sm-2 users_list_user_type">User Type</th>
                    <th class="col-sm-2 users_list_creation_date">Creation Date</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<users.length; i++) { %>
                <% if(users[i].user_type == "Administrator") { %>
                    <tr class="danger">
                <% } else if(users[i].user_type == "Moderator") { %>
                    <tr class="info">
                <% } else { %>
                    <tr>
                <% } %>

                    <td>
                        <a href="/users/<%= users[i].username %>"><%= users[i].username %></a>
                    </td>
                    <td class="users_list_user_type">
                        <%= users[i].user_type %>
                    </td>
                    <td class="users_list_creation_date">
                        <%= users[i].Created %>
                    </td>

                    <% if(CanChangeType) { %>
                    <td class="users_list_change_type">
                        <form method="POST" action="/users/<%= users[i].id %>/change_type">
                            <button type="submit" >Change</button>
                        </form>
                    </td>
                    <% } %>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
